diagnostics.py
explore_teeth.py
explore.py
find_centre.py
find_pitch.py
pitch_circle.py
profile_scan.py
test_core.py
test_mask.py
test_mask2.py
test_teeth.py
gear_edge_detection.py
test_sideprofile.py
